Resources:
  AWSEBV2LoadBalancerListener:
    Type: 'AWS::ElasticLoadBalancingV2::Listener'
    Properties:
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Protocol: HTTPS
            Port: '443'
            Host: '#{host}'
            Path: '/#{path}'
            Query: '#{query}'
            StatusCode: HTTP_301
      LoadBalancerArn:
        Ref:  arn:aws:cloudformation:us-east-1:567851237792:stack/awseb-e-dhe3vp9imw-stack/3b013060-ccfc-11ea-a5b2-0a36a8f29061     
      Port: 80
      Protocol: HTTP
  AWSEBV2LoadBalancerListenerHTTPS:
    Type: 'AWS::ElasticLoadBalancingV2::Listener'
    Properties:
      Certificates:
        - CertificateArn: arn:aws:acm:us-east-1:567851237792:certificate/c5146c9e-32cb-4035-8d1e-edab8a69db42
      DefaultActions:
        - Type: forward
          TargetGroupArn:
            Ref: awseb-e-dhe3vp9imw-stack-AWSEBSecurityGroup-5AB8ZQJT02WN
      LoadBalancerArn:
        Ref: AWSEBV2LoadBalancer
      Port: 443
      Protocol: HTTPS
      